body{
    background-color: rgb(245, 245, 245);
}


#Content_Input{
    align-items: center;
}

#container{
    width: 40%;
    height: 50%;
    background: rgb(22,188,219);
    background: linear-gradient(90deg, rgba(22,188,219,1) 0%, rgba(111,0,255,1) 83%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 10%;
}

h1{
    font-size: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
}

label{
    color: white;
    font-size: 20px;
    align-items: center;
    display: flex;

}

input{
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(3, 10, 104);
    border-width: 3px;
    border-style: solid;
}

#Calcula{
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(3, 113, 202);
    box-shadow: 20px;
}

footer{
    margin-top: 13%;
    margin-left: 70%;
}